.footer {
    height: 250px; /* altura padrão para desktop */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ccc8ca;
    padding: 1em; /* adiciona espaçamento interno */
    box-sizing: border-box;
}

/* Para tablets e telas médias */
@media (max-width: 1024px) {
    .footer {
        height: 200px;
        text-align: center;
        padding: 0.8em;
    }
}

/* Para celulares */
@media (max-width: 768px) {
    .footer {
        height: auto; /* altura automática baseada no conteúdo */
        padding: 1em 0.5em;
    }
}

@media (max-width: 480px) {
    .footer {
        height: auto;
        padding: 1em 0.3em;
    }
}
